*{
   
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.container{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

h1{
    color: white;
    box-shadow: 2px 4px 20px black;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 10px;
}
.form-container{
    
    height: 80%;
    width: 35%;
}

form{
height: 100%;
width: 100%;
background-color: beige;
border-radius: 2rem;
border: 2px solid black;
padding: 20px 40px;
box-shadow: 5px 10px 20px;
display: grid;
grid-template-columns: 2fr 2fr;

}

.personal-section{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    grid-row: span 10;
    border-right: 1px solid gray;

}
h4{
    font-size: larger;
    color: gray;
    margin-bottom: 10px;

}

.more-detail{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    padding-left: 5px;
    grid-row: span 10;

}

.btn-container{
    /* background-color: red; */
    grid-column: span 2;
    align-content:center ;
    /* align-self:flex-end; */
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: 20px;
  
}

button{
    width: 30%;
    height: 50%;
    border-radius: 10px;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}

.btn{
    background-color: gray;
    color: white;

}
.btn-primary{
background-color: dodgerblue;
color: white;
}

input{
    height: 1.5rem;
    border-radius: 0.2rem;
    
}

.input-container{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* background-color: aqua; */
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.gender-container{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    
}

.gender-sub-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.radio-parent{
    display: flex;
    gap: 10px;
}

textarea{
    max-height: 100px;
    max-width: 60%;
    width: 60%;
}

label{
    color: gray;
    font-size: medium;
    font-weight: 600;
}

.feature-container{
    display: flex;
    flex-direction: column;
}
.feature-sub{
    display: flex;
    align-items: center;
    gap: 10px;
}

p{
       color: gray;
    font-size: medium;
    font-weight: 600;
}

form input[type='select']{
background-color: red;
